{% extends "base.html" %}
{% load static %}

{% block title %}Alla Formulär{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row h-100">
        <div class="col-12 col-md-6 my-auto mx-auto text-center">
            <h1 class="display-4 logo-font text-black">
                Alla Formulär
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 text-center mx-auto">
            <a href="{% url 'new_object' %}" class="btn btn-lg btn-block btn-info text-uppercase">Nytt Objekt</a>
            <a href="{% url 'new_risk_analysis' %}" class="btn btn-lg btn-block btn-info text-uppercase">Ny Riskanalys</a>
            <a href="{% url 'new_control_chart' %}" class="btn btn-lg btn-block btn-info text-uppercase">Nytt Kontrollschema</a> 
            <a href="#" class="btn btn-lg btn-block btn-info disabled text-uppercase">Ny Installationsbeskrivning</a>
            
            <hr>
            <a class="btn btn-lg btn-block btn-secondary text-uppercase" href="{% url 'object' %}">Hantera Objekt</a>
            <a class="btn btn-lg btn-block btn-secondary text-uppercase" href="{% url 'risk_analysis' %}">Hantera Riskanalyser</a>
            <a class="btn btn-lg btn-block btn-secondary text-uppercase" href="{% url 'control_charts' %}">Hantera Kontrollscheman</a>
            <a class="btn btn-lg btn-block btn-secondary text-uppercase disabled" href="#">Hantera Installationsbeskrivning</a>   
        </div>
    </div>
</div>

{% endblock %}