{% extends "base.html" %}
{% load static %}
{% load jsignature_filters %}

{% block title %}Installationsbeskrivning Detaljer{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row h-100">
        <div class="col-12 col-md-6 my-auto mx-auto text-center">
            <h3 class="pt-5 mt-3">
                Detaljer för: {{ description.batch_number }}
            </h3>
        </div>
        <div class="col-12 text-center mb-2">
            <a class="btn btn-info mt-3 btn-sm" href="{% url 'edit_installation_description' description.id %}">Redigera Installationsbeskrivning</a>
            <a class="btn btn-secondary mt-3 btn-sm" href="{% url 'installation_description' %}">Alla Installationsbeskrivningar</a>
            <a class="btn btn-secondary mt-3 btn-sm" href="{% url 'object_details' object_id=description.object_name.pk %}">Till Objektet</a>
            <a class="btn btn-secondary mt-3 btn-sm" href="{% url 'installation_description_pdf' description.id %}">Skapa PDF</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 text-left mx-auto mb-5">
            <div class="card mb-5">
                <div class="card-body">
                    <p class="card-title"><strong>Objekt:</strong></p>
                    <p class="card-text"> {{ description.object_name }}</p>
                    <p><strong>Batch/Serienummer:</strong></p>
                    <p>{{ description.batch_number }}</p>
                    <hr>
                    <p><strong>Dörrposition/ID:</strong></p>
                    <p>{{ description.door_name }}</p>
                    <hr>
                    <p><strong>v/tekniker:</strong></p>
                    <p>{{ description.technician }}</p>
                    <hr>
                    <p><strong>Datum för driftsättning:</strong></p>
                    <p> {{ description.date_in_use }}</p>
                    <hr>
                    <p><strong>Installerad av:</strong></p>
                    <p> {{ description.installed_by }}</p>
                    <hr>
                    <p><strong>Dörrtyp:</strong></p>
                    <p> {{ description.door_type }}</p>
                    <hr>
                    <p><strong>Uppskattad vikt av dörrblad:</strong></p>
                    <p> {{ description.weight }}</p>
                    <hr>
                    <p><strong>Bredd:</strong></p>
                    <p> {{ description.width }}</p>
                    <hr>
                    <p><strong>Dörrtyp:</strong></p>
                    <p> {{ description.get_kind_of_door_display }}</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 text-left mx-auto mb-5">
            <div class="card mb-5">
                <div class="card-body">
                    <h5>Tillägg som ingår i installationen</h5>
                    <hr>
                    <p>{% if description.program_selector_internal %}
                        <i class="fa fa-check text-success"></i><strong> Programväljare internt: </strong>
                        {% else %}<i class="fa fa-minus text-danger"></i><strong class="text-muted">Programväljare internt: </strong>
                        {% endif %}
                        
                        {% if description.program_selector_internal_notes %}
                        {{ description.program_selector_internal_notes }}
                        {% else %} 
                        {% endif %}
                    </p>
                    <p>{% if description.program_selector_external %}
                        <i class="fa fa-check text-success"></i><strong> Programväljare externt: </strong>
                        {% else %}<i class="fa fa-minus text-danger"></i><strong class="text-muted"> Programväljare externt: </strong>
                        {% endif %}
                        
                        {% if description.program_selector_external_notes %}
                        {{ description.program_selector_external_notes }}
                        {% else %} 
                        {% endif %}
                    </p>
                    <p>{% if description.electromechanical_lock_internal %}
                        <i class="fa fa-check text-success"></i><strong> Elektromekaniskt lås internt: </strong>
                        {% else %}<i class="fa fa-minus text-danger"></i><strong class="text-muted"> Elektromekaniskt lås internt: </strong>
                        {% endif %}
                        
                        {% if description.electromechanical_lock_internal_notes %}
                        {{ description.electromechanical_lock_internal_notes }}
                        {% else %} 
                        {% endif %}
                    </p>
                    <p>{% if description.electromechanical_lock_external %}
                        <i class="fa fa-check text-success"></i><strong> Elektromekaniskt lås externt: </strong>
                        {% else %}<i class="fa fa-minus text-danger"></i><strong class="text-muted"> Elektromekaniskt lås externt: </strong>
                        {% endif %}
                        
                        {% if description.electromechanical_lock_external_notes %}
                        {{ description.electromechanical_lock_external_notes }}
                        {% else %} 
                        {% endif %}
                    </p>
                    <p>{% if description.mechanical_micro_switch %}
                        <i class="fa fa-check text-success"></i><strong> Mekaniskt lås med mikrobrytare: </strong>
                        {% else %}<i class="fa fa-minus text-danger"></i><strong class="text-muted"> Mekaniskt lås med mikrobrytare: </strong>
                        {% endif %}
                        
                        {% if description.mechanical_micro_switch_notes %}
                        {{ description.mechanical_micro_switch_notes }}
                        {% else %} 
                        {% endif %}
                    </p>
                    <p>{% if description.impulse_generator %}
                        <i class="fa fa-check text-success"></i><strong> Impulsgivare: </strong>
                        {% else %}<i class="fa fa-minus text-danger"></i><strong class="text-muted"> Impulsgivare: </strong>
                        {% endif %}
                        
                        {% if description.impulse_generator_notes %}
                        {{ description.impulse_generator_notes }}
                        {% else %} 
                        {% endif %}
                    </p>
                    <p>{% if description.sensors %}
                        <i class="fa fa-check text-success"></i><strong> Sensorer: </strong>
                        {% else %}<i class="fa fa-minus text-danger"></i><strong class="text-muted"> Sensorer: </strong>
                        {% endif %}
                        
                        {% if description.sensors_notes %}
                        {{ description.sensors_notes }}
                        {% else %} 
                        {% endif %}
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5>Utförda servicar</h5>
                    <table class="table table-hover">
                        <thead>
                            <tr>              
                                <th scope="col">Datum</th>
                                <th scope="col">Mer info</th>
                                <th scope="col">PDF</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td><a class="btn btn-info btn-sm" href="#">Se hela</a></td>
                                <td><a class="btn btn-info btn-sm" href="#">Ladda ner</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}