{% extends "base.html" %}
{% load static %}
{% load jsignature_filters %}

{% block title %}Installationsbeskrivning Detaljer{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row h-100">
        <div class="col-12 col-md-6 my-auto mx-auto text-center">
            <h3 class="pt-5 mt-3">
                Detaljer för: {{ description.batch_number }}
            </h3>
        </div>
        <div class="col-12 text-center mb-2">
            <a class="btn btn-info mt-3 btn-sm" href="{% url 'edit_installation_description' description.id %}">Redigera Installationsbeskrivning</a>
            <a class="btn btn-secondary mt-3 btn-sm" href="{% url 'installation_description' %}">Alla Installationsbeskrivningar</a>

            <a class="btn btn-secondary mt-3 btn-sm" href="#">Skapa PDF</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 text-left mx-auto mb-5">
            <div class="card mb-5">
                <div class="card-body">
                    <p class="card-title"><strong>Objekt:</strong></p>
                    <p class="card-text"> {{ description.object_name }}</p>
                    <p><strong>Batch/Serienummer:</strong></p>
                    <p>{{ description.batch_number }}</p>
                    <hr>
                    <p><strong>Dörrposition/ID:</strong></p>
                    <p>{{ description.door_name }}</p>
                    <hr>
                    <p><strong>v/tekniker:</strong></p>
                    <p>{{ description.technician }}</p>
                    <hr>
                    <p><strong>Datum för driftsättning:</strong></p>
                    <p> {{ description.date_in_use }}</p>
                    <hr>
                    <p><strong>Installerad av:</strong></p>
                    <p> {{ description.installed_by }}</p>
                    <hr>
                    <p><strong>Dörrtyp:</strong></p>
                    <p> {{ description.door_type }}</p>
                    <hr>
                    <p><strong>Uppskattad vikt av dörrblad:</strong></p>
                    <p> {{ description.weight }}</p>
                    <hr>
                    <p><strong>Bredd:</strong></p>
                    <p> {{ description.width }}</p>
                    <hr>
                    <p><strong>Dörrtyp:</strong></p>
                    <p> {{ description.get_kind_of_door_display }}</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 text-left mx-auto mb-5">
            <div class="card mb-5">
                <div class="card-body">
                    <h5>Tillägg som ingår i installationen</h5>
                    <hr>
                    <p>{% if description.program_selector_internal %}
                        <i class="fa fa-check text-success"></i>
                        {% else %}<i class="fa fa-minus text-danger"></i>{% endif %}
                        <strong>Programväljare internt: </strong>
                        {% if description.program_selector_internal_notes %}
                        {{ description.program_selector_internal_notes }}
                        {% else %} 
                        {% endif %}
                    </p>
                    <p>{% if description.program_selector_external %}
                        <i class="fa fa-check text-success"></i>
                        {% else %}<i class="fa fa-minus text-danger"></i>{% endif %}
                        <strong>Programväljare externt: </strong>
                        {% if description.program_selector_external_notes %}
                        {{ description.program_selector_external_notes }}
                        {% else %} 
                        {% endif %}
                    </p>
                    <p>{% if description.electromechanical_lock_internal %}
                        <i class="fa fa-check text-success"></i>
                        {% else %}<i class="fa fa-minus text-danger"></i>{% endif %}
                        <strong>Elektromekaniskt lås internt: </strong>
                        {% if description.electromechanical_lock_internal_notes %}
                        {{ description.electromechanical_lock_internal_notes }}
                        {% else %} 
                        {% endif %}
                    </p>
                    <p>{% if description.electromechanical_lock_external %}
                        <i class="fa fa-check text-success"></i>
                        {% else %}<i class="fa fa-minus text-danger"></i>{% endif %}
                        <strong>Elektromekaniskt lås externt: </strong>
                        {% if description.electromechanical_lock_external_notes %}
                        {{ description.electromechanical_lock_external_notes }}
                        {% else %} 
                        {% endif %}
                    </p>
                    <p>{% if description.mechanical_micro_switch %}
                        <i class="fa fa-check text-success"></i>
                        {% else %}<i class="fa fa-minus text-danger"></i>{% endif %}
                        <strong>Mekaniskt lås med mikrobrytare: </strong>
                        {% if description.mechanical_micro_switch_notes %}
                        {{ description.mechanical_micro_switch_notes }}
                        {% else %} 
                        {% endif %}
                    </p>
                    <p>{% if description.impulse_generator %}
                        <i class="fa fa-check text-success"></i>
                        {% else %}<i class="fa fa-minus text-danger"></i>{% endif %}
                        <strong>Impulsgivare: </strong>
                        {% if description.impulse_generator_notes %}
                        {{ description.impulse_generator_notes }}
                        {% else %} 
                        {% endif %}
                    </p>
                    <p>{% if description.sensors %}
                        <i class="fa fa-check text-success"></i>
                        {% else %}<i class="fa fa-minus text-danger"></i>{% endif %}
                        <strong>Sensorer: </strong>
                        {% if description.sensors_notes %}
                        {{ description.sensors_notes }}
                        {% else %} 
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}