{% extends "base.html" %}
{% load static %}
{% load jsignature_filters %}

{% block title %}Kontrollschema Detaljer{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row h-100">
        <div class="col-12 col-md-6 my-auto mx-auto text-center">
            <h3 class="pt-5 mt-3">
                Detaljer för: {{ control_chart.position_id }}
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 text-left mx-auto mb-5">
            <div class="card mx-2 mb-5">
                <div class="card-body">
                    <p class="card-title"><strong>Objekt:</strong></p>
                    <p class="card-text"> {{ control_chart.object }}</p>
                    <p><strong>Dörrtyp:</strong></p>
                    <p>{{ control_chart.door_type }}</p>
                    <hr>
                    <p><strong>Dörrposition/ID:</strong></p>
                    <p>{{ control_chart.position_id }}</p>
                    <hr>
                    <p><strong>Utförd av:</strong></p>
                    <p>{{ control_chart.done_by }}</p>
                    <hr>
                    <p><strong>Datum:</strong></p>
                    <p> {{ control_chart.date }}</p>
                    <hr>
                    <p><strong>Signatur:</strong></p>
                    <p><img src="{{ control_chart.signature|signature_base64 }}" alt="{{ control_chart }}"></p>
                    <hr>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 text-left mx-auto mb-5">
            <div class="card mx-2 mb-5">
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Egenskap</th>
                                <th>Godkänd</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Dörrkarm</td>
                                <td>{% if control_chart.doorframe %}OK <i class="fa fa-circle text-success"></i>{% else %}Anm. <i class="fa fa-circle text-danger"></i>{% endif %}</td>
                            </tr>
                            <tr>
                                <td>Dörrblad</td>
                                <td>{% if control_chart.door_leaves %}OK <i class="fa fa-circle text-success"></i>{% else %}Anm. <i class="fa fa-circle text-danger"></i>{% endif %}</td>
                            </tr>
                            <tr>
                                <td>Tröskel</td>
                                <td>{% if control_chart.threshold %}OK <i class="fa fa-circle text-success"></i>{% else %}Anm. <i class="fa fa-circle text-danger"></i>{% endif %}</td>
                            </tr>
                            <tr>
                                <td>Gångjärn</td>
                                <td>{% if control_chart.hinge %}OK <i class="fa fa-circle text-success"></i>{% else %}Anm. <i class="fa fa-circle text-danger"></i>{% endif %}</td>
                            </tr>
                            <tr>
                                <td>Låskista</td>
                                <td>{% if control_chart.lock_chest %}OK <i class="fa fa-circle text-success"></i>{% else %}Anm. <i class="fa fa-circle text-danger"></i>{% endif %}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}