{% extends "base.html" %}
{% load static %}

{% block title %}Kontrollscheman{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row h-100">
        <div class="col-12 col-md-6 my-auto mx-auto text-center">
            <h3 class="py-3 mt-5">
                Kontrollscheman
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 text-center mx-auto mb-5">
            <a class="btn btn-lg btn-block btn-secondary" href="{% url 'new_control_chart' %}">Nytt Kontrollschema</a>
            <div class="table-responsive mb-5">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Objekt</th>
                            <th scope="col">Position/ID</th>
                            <th scope="col">Datum</th>
                            <th scope="col">Se Hela</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for chart in control_charts %}
                        <tr>
                            <td>{{ chart.object }}</td>
                            <td>{{ chart.position_id }}</td>
                            <td>{{ chart.date }}</td>
                            <td><a class="btn btn-info btn-sm mb-1 mt-1" href="{% url 'control_chart_details' chart.id %}">Läs
                                Mer</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-12 mb-5">
                <a href="{% url 'forms' %}" class="btn btn-info text-uppercase">Tillbaka till menyn</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}