{% extends "base.html" %}
{% load static %}

{% block title %}Nytt Objekt{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row h-100">
        <div class="col-12 col-md-6 my-auto mx-auto text-center">
            <h3 class="py-5 mt-2">
                Nytt Objekt
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 text-center mx-auto mb-5">
            <form method="POST" id="new-object-form" action="{% url 'new_object' %}" class="form">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary text-uppercase mb-5">Lägg till objekt</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}