{% extends "base.html" %}
{% load static %}

{% block title %}Objekt Detaljer{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row h-100">
        <div class="col-12 col-md-6 my-auto mx-auto text-center">
            <h3 class="pt-5 mt-3">
                Detaljer för: {{ object.name }}
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 text-left mx-auto mb-5">
            <div class="card mx-2 mb-5">
                <div class="card-body">
                    <p class="card-title"><strong>Namn:</strong></p>
                    <p class="card-text"> {{ object.name }}</p>
                    <p><strong>Adress:</strong></p>
                    <p>{{ object.address|linebreaks }}</p>
                    <hr>
                    <p><strong>Byggare:</strong></p>
                    <p>{{ object.constructor }}</p>
                    <hr>
                    <p><strong>Kontaktperson:</strong></p>
                    <p>{{ object.contact_person }}</p>
                    <hr>
                    <p><strong>Anteckningar:</strong></p>
                    <p> {{ object.notes|linebreaks }}</p>
                    <hr>
                    <p><strong>Ritning:</strong></p>
                    <p>{% if object.drawing %}<a class="card-link" target="_blank" href="{{ object.drawing.url }}">Öppna
                            Ritning</a>{% else %}
                        Ingen ritning tillgänglig {% endif %}</p>
                        <a class="btn btn-info mt-3" href="{% url 'edit_object' object.id %}">Redigera Objekt</a>
                        <a class="btn btn-secondary mt-3" href="{% url 'object' %}">Alla Objekt</a>
                        <a class="btn btn-secondary mt-3" href="{% url 'forms' %}">Till Menyn</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="table-responsive mb-5">
                <h5>Kontrollscheman</h5>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Datum</th>
                            <th scope="col">Mer info</th>
                            <th scope="col">PDF</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for chart in control_charts %}
                        <tr>
                            <td>{{ chart.position_id }}</td>
                            <td>{{ chart.date }}</td>
                            <td><a class="btn btn-info btn-sm" href="{% url 'control_chart_details' control_chart_id=chart.pk %}">Se hela</a></td>
                            <td><a class="btn btn-info btn-sm" href="{% url 'generate_pdf' chart.id %}">Ladda ner</a></td>
                            {% empty %}
                            <td class="text-muted">Inget kontrollschema.</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="table-responsive mb-5">
                <h5>Riskanalyser</h5>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Datum</th>
                            <th scope="col">Mer info</th>
                            <th scope="col">PDF</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for analysis in risk_analysis %}
                        <tr>
                            <td>{{ analysis.door_id }}</td>
                            <td>{{ analysis.date }}</td>
                            <td><a class="btn btn-info btn-sm" href="{% url 'risk_analysis_details' risk_analysis_id=analysis.pk %}">Se hela</a></td>
                            <td><a class="btn btn-info btn-sm" href="{% url 'risk_analysis_pdf' analysis.id %}">Ladda ner</a></td>
                            {% empty %}
                            <td class="text-muted">Ingen riskanalys.</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}