{% load static %}
{% load jsignature_filters %}

<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
    </script>
    <title>{{ control_chart.position_id }}</title>
    <style>
        body {
            font-size: 10pt;
        }

        @page {
            @bottom-right {
                content: counter(page);
            }
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-12 text-left mx-auto">
                <div class="col-12 col-md-6 my-auto mx-auto text-center mb-4">
                    <h2 class="mb-3">
                        Kontrollschema för dörr: {{ control_chart.position_id }}
                    </h2>
                    <hr>
                </div>
                <div class="mx-2 mb-5">
                    <div class="">
                        <span><strong>Objekt:</strong></span>
                        <span> {{ control_chart.object }}</span>
                        <span><strong>Dörrtyp:</strong></span>
                        <span> {{ control_chart.door_type }}</span>
                        <span><strong>Dörrposition/ID:</strong></span>
                        <span> {{ control_chart.position_id }}</span>
                        <span><strong>Datum:</strong></span>
                        <span> {{ control_chart.date }}</span>
                        <hr>
                        <span><strong>Anmärkningar:</strong></span>
                        <p> {{ control_chart.notes|linebreaks }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Egenskap</th>
                                <th>Godkänd</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1. Dörrkarm</td>
                                <td>{% if control_chart.doorframe == 'OK' %}OK <i class="fa fa-circle text-success"></i>
                                    {% elif control_chart.doorframe == 'ANM' %}Anm. <i
                                        class="fa fa-circle text-danger"></i>
                                    {% else %}N/A{% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>2. Dörrblad</td>
                                <td>{% if control_chart.door_leaves == 'OK' %}OK <i
                                        class="fa fa-circle text-success"></i>
                                    {% elif control_chart.door_leaves == 'ANM' %}Anm. <i
                                        class="fa fa-circle text-danger"></i>
                                    {% else %}N/A{% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>3. Tröskel</td>
                                <td>{% if control_chart.threshold == 'OK' %}OK <i class="fa fa-circle text-success"></i>
                                    {% elif control_chart.threshold == 'ANM' %}Anm. <i
                                        class="fa fa-circle text-danger"></i>
                                    {% else %}N/A{% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>4. Gångjärn</td>
                                <td>{% if control_chart.hinge == 'OK' %}OK <i class="fa fa-circle text-success"></i>
                                    {% elif control_chart.hinge == 'ANM' %}Anm. <i class="fa fa-circle text-danger"></i>
                                    {% else %}N/A{% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>5. Låskista</td>
                                <td>{% if control_chart.lock_chest == 'OK' %}OK <i
                                        class="fa fa-circle text-success"></i>
                                    {% elif control_chart.lock_chest == 'ANM' %}Anm. <i
                                        class="fa fa-circle text-danger"></i>
                                    {% else %}N/A{% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>6. Slutbleck</td>
                                <td>{% if control_chart.end_plate == 'OK' %}OK <i class="fa fa-circle text-success"></i>
                                    {% elif control_chart.end_plate == 'ANM' %}Anm. <i
                                        class="fa fa-circle text-danger"></i>
                                    {% else %}N/A{% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>7. Kantregel</td>
                                <td>{% if control_chart.edge_rule == 'OK' %}OK <i class="fa fa-circle text-success"></i>
                                    {% elif control_chart.edge_rule == 'ANM' %}Anm. <i
                                        class="fa fa-circle text-danger"></i>
                                    {% else %}N/A{% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>8. Dörrkoordinator</td>
                                <td>{% if control_chart.door_coordinator == 'OK' %}OK <i
                                        class="fa fa-circle text-success"></i>
                                    {% elif control_chart.door_cordinator == 'ANM' %}Anm. <i
                                        class="fa fa-circle text-danger"></i>
                                    {% else %}N/A{% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>9. Dörrmiljö rengjord</td>
                                <td>{% if control_chart.door_environment_clean == 'OK' %}OK <i
                                        class="fa fa-circle text-success"></i>
                                    {% elif control_chart.door_environment_clean == 'ANM' %}Anm. <i
                                        class="fa fa-circle text-danger"></i>
                                    {% else %}N/A{% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>10. Öppnare riktigt fäst till vägg/parti</td>
                                <td>{% if control_chart.opener_attached_to_the_wall == 'OK' %}OK <i
                                        class="fa fa-circle text-success"></i>
                                    {% elif control_chart.opener_attached_to_the_wall == 'ANM' %}Anm. <i
                                        class="fa fa-circle text-danger"></i>
                                    {% else %}N/A{% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>11. Armsystem riktigt fäst till öppnare/dörr</td>
                                <td>{% if control_chart.arm_system_attached == 'OK' %}OK <i
                                        class="fa fa-circle text-success"></i>
                                    {% elif control_chart.arm_system_attached == 'ANM' %}Anm. <i
                                        class="fa fa-circle text-danger"></i>
                                    {% else %}N/A{% endif %}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-6">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Egenskap</th>
                                <th>Godkänd</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>12. Armsystem riktigt justerat</td>
                                <td>{% if control_chart.arm_system_adjusted == 'OK' %}OK <i
                                        class="fa fa-circle text-success"></i>
                                    {% elif control_chart.arm_system_adjusted == 'ANM' %}Anm. <i
                                        class="fa fa-circle text-danger"></i>
                                    {% else %}N/A{% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>13. Stängningshastighet riktigt justerat 1-flyg</td>
                                <td>{% if control_chart.cloosing_speed_adjusted1 == 'OK' %}OK <i
                                        class="fa fa-circle text-success"></i>
                                    {% elif control_chart.cloosing_speed_adjusted1 == 'ANM' %}Anm. <i
                                        class="fa fa-circle text-danger"></i>
                                    {% else %}N/A{% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>14. Stängningshastighet riktigt justerat 2-flyg</td>
                                <td>{% if control_chart.closing_speed_adjusted2 == 'OK' %}OK <i
                                        class="fa fa-circle text-success"></i>
                                    {% elif control_chart.closing_speed_adjusted2 == 'ANM' %}Anm. <i
                                        class="fa fa-circle text-danger"></i>
                                    {% else %}N/A{% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>15. Öppningshastighet riktigt justerat 1-flyg</td>
                                <td>{% if control_chart.opening_speed_adjusted1 == 'OK' %}OK <i
                                        class="fa fa-circle text-success"></i>
                                    {% elif control_chart.opening_speed_adjusted1 == 'ANM' %}Anm. <i
                                        class="fa fa-circle text-danger"></i>
                                    {% else %}N/A{% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>16. Öppningshastighet riktigt justerat 2-flyg</td>
                                <td>{% if control_chart.opening_speed_adjusted2 == 'OK' %}OK <i
                                        class="fa fa-circle text-success"></i>
                                    {% elif control_chart.opening_speed_adjusted2 == 'ANM' %}Anm. <i
                                        class="fa fa-circle text-danger"></i>
                                    {% else %}N/A{% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>17. Öppningskoordinering riktigt inställt 2-flyg</td>
                                <td>{% if control_chart.opening_coordination == 'OK' %}OK <i
                                        class="fa fa-circle text-success"></i>
                                    {% elif control_chart.opening_coordination == 'ANM' %}Anm. <i
                                        class="fa fa-circle text-danger"></i>
                                    {% else %}N/A{% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>18. Säkerhetssensor, justerad och testad</td>
                                <td>{% if control_chart.safety_sensor_tested == 'OK' %}OK <i
                                        class="fa fa-circle text-success"></i>
                                    {% elif control_chart.safety_sensor_tested == 'ANM' %}Anm. <i
                                        class="fa fa-circle text-danger"></i>
                                    {% else %}N/A{% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>19. Impulsgivare (radar) riktigt monterat och justerat</td>
                                <td>{% if control_chart.impulse_sensor_adjusted == 'OK' %}OK <i
                                        class="fa fa-circle text-success"></i>
                                    {% elif control_chart.impulse_sensor_adjusted == 'ANM' %}Anm. <i
                                        class="fa fa-circle text-danger"></i>
                                    {% else %}N/A{% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>20. Styrsignaler från passersystem testat</td>
                                <td>{% if control_chart.control_signals_tested == 'OK' %}OK <i
                                        class="fa fa-circle text-success"></i>
                                    {% elif control_chart.control_signals_tested == 'ANM' %}Anm. <i
                                        class="fa fa-circle text-danger"></i>
                                    {% else %}N/A{% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>21. Styrsignaler från brandlarm testat</td>
                                <td>{% if control_chart.fire_signals_tested == 'OK' %}OK <i
                                        class="fa fa-circle text-success"></i>
                                    {% elif control_chart.fire_signals_tested == 'ANM' %}Anm. <i
                                        class="fa fa-circle text-danger"></i>
                                    {% else %}N/A{% endif %}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mt-2 pt-2">
                <p>
                    <span><strong>Utförd av:</strong><span> {{ control_chart.done_by }}</span>
                </p>
                <p></span><strong>Signatur:</strong><img src="{{ control_chart.signature|signature_base64 }}"
                        alt="{{ control_chart.done_by }}">
                </p>
                <p>
                    <span><strong>Datum:</strong></span>
                    <span> {{ control_chart.date }}</span>
                </p>
            </div>
        </div>
    </div>

</body>

</html>