{% extends "base.html" %}
{% load static %}

{% block title %}Redigera Objekt{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row h-100">
        <div class="col-12 col-md-6 my-auto mx-auto text-center">
            <h3 class="py-5 mt-2">
                Nytt Objekt
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 text-left mx-auto mb-5">
            <form method="POST" id="edit-object-form" action="{% url 'edit_object' object.id %}" class="form" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-info text-uppercase mb-5">Spara Ändringar</button>
                <a class="btn btn-secondary mb-5 text-uppercase" href="{% url 'object_details' object.id %}">Avbryt</a>
            </form>
        </div>
    </div>
</div>

{% endblock %}